//fundoDescLinhaTempo
//fundo 1
.bgBM{
    background-image: url('../src/img/background.png');
    background-size: 100%; 
    background-repeat: no-repeat;
    padding: 40px 80px 40px 80px;
    .logoFundo{
        width: 100px;
        float:left;
        margin-right: 35px;
        margin-top: 20px;
    }
    h2, p{
        color: #fff;
        margin-bottom: 0px;
    }
    h2{
        margin-top: 20px;
    }
}
//fundo 2
.bgBM2{
    background-image: url('../src/img/background2.png');
    background-size: 100%; 
    background-repeat: no-repeat;
    padding: 40px 80px 40px 80px;
    h2, p{
        color: #fff;
        margin-bottom: 0px;
    }
}

.bgTurq{
    background: $bgTurquoise;
    position: relative;
    padding-top: 50px;
    padding-right: 50px;

    h2, p{
        color:#fff;
        margin-bottom: 30px;
    }
}
//Anos
.years{
    background: $bgBlack;
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
    h2,p{
        color:#fff;
        margin-bottom: 30px;
    }
}
//Linha do tempo
.timeline {  
    border-left: 3px solid #A2C43A;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding-left: 50px;
    list-style: none;
    text-align: left;
    height: 100%;
}
.timeline .event {
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}
.timeline .event:after {
    box-shadow: 0 0 0 3px #A2C43A;
    left: -55.8px;
    background: $bgBlack;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 12px;
}
//Ano before
.year{
    position: relative;
    padding-left:40px;
}
.year::before{
    content: url("../src/img/reticencias.png");
    position: absolute;
    top: -15%;
    left: -5%;
}
.event{
    padding-left:30px;
    h3{
        color: $bgGreen;
    }
}