//Home index
#home{
    margin-top: 80px;
    .homeImg{
        margin-top: -80px;
    
        transition: all 0.7s;
        cursor: pointer;
    }
    .homeImg:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .person{
        width: 80%;
    }
    .social{
        //display: flex;
        margin-top: 25px;
        margin-bottom: 25px;
        //justify-content: center;
        .facebook{
            margin-right: 15px;
            width: 40px;
        }
        .twitter{
            margin-left: 15px;
            width: 40px;
        }
        .instagram{
            width: 40px;
        }
    }
    #nm {
        font-weight: normal;
    }
}
