//inputs
.inputCadastro{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
}
.inputCadastro:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid $bgGreen;
    outline: 0;
    box-shadow: none;
    
}
.inputCadastroModal{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
}
.inputCadastroModal:focus {
    color: $bgBlack;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid #ccc;
    outline: 0;
    box-shadow: none;
    
}
select{
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid $bgGreen;
    width: 100%;
    padding: .375rem .75rem;
    option{
        color: $bgBlack;
      }
}