//Media Query
@media only screen and (max-width: 576px){
    .title, .subtitle, .subtitle2{
        text-align: center;
    }
    .subBusiness1{
        text-align:center;
    }
    .homeText{
        text-align: center;
    }
    .timeline .subtitle2, .years .subtitle{
        text-align: start;
    }
    .ulHome{
        display: none;
    }
    #home{
        margin-top:0px;
    }
    .greenAreaHeader{
        transform: rotate(0deg);
        width:100%;
        height: 90px;
        margin-top:0;
        border-radius: 0;
        img{
            display:none;
        }
        .imagem{
            content: url("../src/img/logo4.png");
            position: relative;
            max-width: 65%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .dollar{
        width: 80px;
        height: 80px;
    }

    .btn-BM{
        letter-spacing: 0;
    }
    .item{
        height: 150px;
    }
    .cadastro{
        border-radius: 0;
        padding-bottom: 10%;
        padding-top: 10%;
        margin-top: 0;
    }
    footer{
        margin-top: 0;
        overflow: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .homeImg{
      display: none !important;
    }

    .bgBM{
        background-image: none;
        background-color: $bgBlack;
        padding: 30px 20px 30px 20px;
        h2{
            margin-bottom:30px;
        }
    }
    .fundoContainer{
        background-image:none;
    }
    .fundoContainer2{
        background-image:none;
    }
    .years{
        padding: 30px 20px 30px 30px;
    }
    .subBusiness2{
        text-align:center;
    }
    .bgBM2{
        background-image: none;
        background-color: $bgBlack;
        padding: 20px;
        .h2green{
            margin-bottom: 30px;
        }
    }
    .lside{
        padding:20px;
    }
    .rside{
        padding: 20px 20px 40px 20px;
    }
    #money{
        margin-top:30px;
    }
    #investimento{
        padding-top:0px;
    }
    .right-price{
        margin-top: 20px;
    }
    .bgTurq{
        padding: 30px 20px 30px 20px;
    }
    #geoShapesModal{
        display: none;
    }
    #outShapes, footer .greenAreaInscricaoOut:nth-child(1), footer .greenAreaInscricaoOut:nth-last-child(2), .cadastro .greenAreaInscricaoOut{
        display: none;
    }
    .fundoContainer2 .btn-BM{
        margin-bottom: 0;
      }
    .gap-2{
        margin-left:auto;
        margin-right:auto;
    }
    #videos{
        text-align:center;
    }
    .fontGreenHome{
        color: $bgBlack;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }
    
}