//Variáveis
$bgTurquoise: #48afbc;
$bgGreen: #c2ff01;
$bgBlack: #000;
$gradHome: linear-gradient(220.36deg, rgba(25, 112, 129, 0.32) 0%, rgba(247, 247, 249, 0) 15%);
$gradBtn: linear-gradient(360deg, #1D737E -74.42%, #4FB9C7 154.17%);
$gradLogo: linear-gradient(99.95deg, #1D737E -2.54%, #4FB9C7 114.45%);
//$gradHome: linear-gradient(220.36deg, rgba(25, 112, 129, 0.32) 0%, rgba(247, 247, 249, 0) 64.63%);