@import 'partials/variaveis';
@import 'partials/mixins';
@import 'partials/presets';
@import 'partials/inputs';
@import 'partials/fontes';
@import 'partials/buttons';
@import 'partials/homeIndex';
@import 'partials/fundoDescLinhaTempo';
@import 'partials/inscricao';
@import 'partials/check';
@import 'partials/investimento';
@import 'partials/clientes';
@import 'partials/modal';
@import 'partials/headerCadastro';
@import 'partials/shapesCadastro';
@import 'partials/formCadastro';
@import 'partials/mediaQuery';

