h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Fira Sans', sans-serif;
}
.navBM{padding:0;
    .containerFluidBM{
        padding: 0;

        .logo{
            max-width: 62%;
        }
        .home{margin-left: 70%;}
    }
}
.btn-info-BM{
    background: linear-gradient(360deg, #1D737E -74.42%, #4FB9C7 154.17%);
    border-radius: 57px;
    color: #C2FF01;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 428.2%;

    margin-bottom: 40px;
    width: 180px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}
