//Variáveis
$bgTurquoise: #48afbc;
$bgGreen: #C2FF01;
$black: #000;
$gradHome: linear-gradient(220.36deg, rgba(25, 112, 129, 0.32) 0%, rgba(247, 247, 249, 0) 64.63%);
$gradBtn: linear-gradient(360deg, #1D737E -74.42%, #4FB9C7 154.17%);
$gradLogo: linear-gradient(99.95deg, #1D737E -2.54%, #4FB9C7 114.45%);



//Mixins
@mixin tipografia-Fira-Sans {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $black;
}
@mixin tipografia-Oswald {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
}
@mixin sides {
    position: relative;
    padding: 50px 50px 0 50px;
        h2,p{
        color:#fff;
        margin-bottom: 30px;
        }
}
@mixin greenArea {
    width: 40px;
    height: 40px;
    background-color: $bgGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 10px;
}
@mixin btn-BM2{
    background: $gradBtn;
    border-radius: 57px;
    color: $bgGreen;
    border: none;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
//Predefinido
body{
    background: $gradHome;
    overflow-x: hidden;
}
input[type=text], input[type=email], input[type=number]{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
}
select{
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid $bgGreen;
    width: 100%;
    padding: .375rem .75rem;
    option{
        color: $black;
      }
  }

//Fontes
.title{
    @include tipografia-Oswald;
    font-size: 30px;
    line-height: 155.5%;
    letter-spacing: 0.1em;
}
.subtitle{
    @include tipografia-Oswald;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.subtitle2{
    @include tipografia-Oswald;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2em;
}
.h2green{
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $bgGreen;
}
.h3green{
    @include tipografia-Oswald;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $bgGreen;
}
.greenFont {
    background: $black;
    color: #C2FF01;
    padding: 0 1rem;
    border-radius: 10px;
    font-weight: 700;
    white-space: nowrap;
    font-family: "Open Sans",Arial,sans-serif;
}
h1,h2,p{
    margin-bottom: 30px;
}
p{
    font-family: 'Fira Sans', sans-serif;
}
.text-justify{
    text-align: justify;
}

.logo{
     max-width: 62%;
}
.home{margin-left: auto; margin-right: 80px;}

//flexbox
.d-flex{
    flex-wrap: wrap;
    flex-flow: wrap;
}
//Botão da nav
.btn-info-BM{
    @include btn-BM2;
    position: relative;
    z-index:10;
}
.btn-BM{
    color: black;
    background: $bgGreen;
    border-radius: 30px;
    border: none;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 250.0%;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $black;
}
.homeImg{
    position: relative;
    margin-top: -80px;
}
.homeText{
    position: relative;
    margin-top: 30px;
}
//Redes sociais
.social{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
    .facebook{
        margin-right: 15px;
        width: 40px;
    }
    .twitter{
        margin-left: 15px;
        width: 40px;
    }
    .instagram{
        width: 40px;
    }
}
//Fundo descrição
.bgBM{
    background-image: url('../src/img/background.png');
    background-size: 100%; 
    background-repeat: no-repeat;
    padding: 40px 80px 40px 80px;
    .logoFundo{
        width: 100px;
        float:left;
        margin-right: 35px;
        margin-top: 20px;
    }
    h2, p{
        color: #fff;
        margin-bottom: 0px;
    }
    h2{
        margin-top: 20px;
    }
}
//Fundo descrição 2
.bgBM2{
    background-image: url('../src/img/background2.png');
    background-size: 100%; 
    background-repeat: no-repeat;
    padding: 40px 80px 40px 80px;
    h2, p{
        color: #fff;
        margin-bottom: 0px;
    }
}
.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}
.businessIcon{
    width: 100px;
}
.bgTurq{
    background: $bgTurquoise;
    position: relative;
    padding-top: 50px;
    padding-right: 50px;

    h2, p{
        color:#fff;
        margin-bottom: 30px;
    }
}
//Anos
.years{
    background: $black;
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
    h2,p{
        color:#fff;
        margin-bottom: 30px;
    }
}
//Linha do tempo
.timeline {  
    border-left: 3px solid #A2C43A;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding-left: 50px;
    list-style: none;
    text-align: left;
    height: 100%;
}
.timeline .event {
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}
.timeline .event:after {
    box-shadow: 0 0 0 3px #A2C43A;
    left: -55.8px;
    background: $black;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 12px;
}
//Ano before
.year{
    position: relative;
    padding-left:40px;
}
.year::before{
    content: url("../src/img/reticencias.png");
    position: absolute;
    top: -15%;
    left: -5%;
}

.event{
    padding-left:30px;
    h3{
        color: $bgGreen;
    }
}

.figure-caption{
 @include tipografia-Fira-Sans;
 width: 150px;
}
//Fundos dos containers
.back2Color{
    background-image: linear-gradient(to right, $bgTurquoise 50%, #000 50%);
}
.back2Color2{
    background-image: linear-gradient(to right, #000 50%, $bgTurquoise 50%);
}

//Inscrição
.steps-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 25%;
    margin-bottom: 3rem;
    position: relative;
}
.greenAreaInscricao {
    @include greenArea;
}
.number {
    font-weight: 700;
    transform: rotate(-45deg);
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 20px;
}
.desc {
    text-align: center;
    font-size: 14px;
    max-width: 190px;
}
.inscricao {
    background: linear-gradient(to right top, #32848f, #a3eaf3);
    padding: 4rem 0;
    border-radius: 20px;

    z-index: 2;
    margin: auto;
    transform: translate(0, -2rem);
    width: 100%;
}
//Lside e rside
.lside{
    @include sides;
    background: $black;
}
.rside{
    @include sides;
    background: $bgTurquoise;
}
//Check
.pcheck{
    position: relative;
    padding-left: 50px;
}
.pcheck::before{
    content: '✔';
    top: -3px;
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00AA54;
    background-color: $bgGreen;
    font-weight: 700;
}
//Icon Dinheiro na mão
#money{
    position: relative;
    margin: auto;
    margin-top: -100px;
    height: 200px;
}

//Preço do Investimento
.price{
    @include tipografia-Oswald;
    font-size: 25px;
    line-height: 37px;
}
.left-price{
    width: 100%;
    background: #D40033;
    border-radius: 20px;
    .desc-price-l{
        @include tipografia-Oswald;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #fff;
    }
    .price-l{
        @include tipografia-Oswald;
        font-size: 40.5797px;
        line-height: 60px;
        letter-spacing: 0.1em;
        text-transform: uppercase;    
        color: #FFFFFF;
    } 
    
}
.right-price{
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #D40033;
    box-sizing: border-box;
    border-radius: 20px;
    .desc-price-r{
        @include tipografia-Oswald;
        font-weight: 300;
        font-size: 18px;
        line-height: 136.5%;
        color: $black;
        text-transform: lowercase;
    }
    .price-r{
        @include tipografia-Oswald;
        font-size: 40.5797px;
        line-height: 60px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #D40033;   
    } 
}
.left-price{
    width: 100%;
    height: 131px;
    background: #D40033;
    border-radius: 20px;
    .desc-price-l{
        @include tipografia-Oswald;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #fff;
    }
    .price-l{
        @include tipografia-Oswald;
        font-size: 40.5797px;
        line-height: 60px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        
        color: #FFFFFF;
    } 
    
}
.right-price{
    width: 100%;
    height: 131px;
    background: #FFFFFF;
    border: 2px solid #D40033;
    box-sizing: border-box;
    border-radius: 20px;
    .desc-price-r{
        @include tipografia-Oswald;
        font-weight: 300;
        font-size: 18px;
        line-height: 136.5%;
        color: $black;
        text-transform: lowercase;
    }
    .price-r{
        @include tipografia-Oswald;
        font-size: 40.5797px;
        line-height: 60px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #D40033;   
    } 
}
.prices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//Lista Clientes
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 2rem;
    padding:0px;
  }

  .item {
    width: 30%;
    margin: 0 1.5%;
    height: 200px;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    margin-bottom: 1rem;
  }

.iconDiv {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    max-width: 100%;
    max-height: 100%;
}
//Rodapé
.footer{
    background-color: $black;
}

//06.04 modal
.bmModalHeader, .bmModalFooter{
    border: none;
}
.modal-content{
    background: $gradHome;
    background-color: white;
    overflow: hidden;
    border: none;
    .greenAreaModal:nth-child(1){
        @include greenArea;
        position: absolute;
        width: 300px;
        height: 300px;
        left: -100px;
        
        background: linear-gradient(99.95deg, #1D737E 147.42%, #4FB9C7 264.41%);
        border-radius: 57px;
        z-index: 2;
        #logoModal{
            transform: rotate(315deg);
            width: 105px;
            margin-left: 65px;
            margin-bottom: 45px;
        }
    }
    .greenAreaModal:nth-child(2){
        @include greenArea;
        position: absolute;
        width: 275px;
        height: 275px;
        left: -100px;
        bottom: -25px;
        border-radius: 50px;
        z-index: 1;
    }
    .greenAreaModal:nth-child(3){
        @include greenArea;
        position: absolute;
        width: 250px;
        height: 250px;
        right: -100px;
        background-color: transparent;
        border: 1px solid #87b4bb;
        border-radius: 50px;
        z-index: 1;
    }
    .greenAreaModal:nth-child(4){
        @include greenArea;
        position: absolute;
        width: 250px;
        height: 250px;
        top: 80px;
        right: -100px;
        background-color: transparent;
        border: 1px solid #87b4bb;
        border-radius: 50px;
        z-index: 1;
    }
}
.bmModalTitle{  
    @include tipografia-Oswald;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    width: 400px;
    margin: auto;
    text-align: center;
}

.btn-Inscricao-BM{
    @include btn-BM2;
    color: white;
    margin-inline:auto;
}
#formPresente{
    width:300px;
    margin: auto;
}   
.form-label{
    font-weight: bold;
}
//08.04 cadastro.html
//header
.greenAreaHeader{
    @include greenArea;
    position: relative  ;
    width: 350px;
    height: 350px;
    background: $gradLogo;
    border-radius: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-top: -225px ;
    z-index: 3;
    #logoHeader{
        transform: rotate(315deg);
        width: 80px;
        margin-top: 180px;
        margin-left: 180px;
    }
}
//shapes out
.greenAreaInscricaoOut:nth-child(1){
    @include greenArea;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 130px;
    margin-top: 80px;
    border-radius: 20px;
    z-index: 1;
}
.greenAreaInscricaoOut:nth-child(2){
    @include greenArea;
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 180px;
    margin-top: 230px;
    border-radius: 44px;
    z-index: 1;
}
.greenAreaInscricaoOut:nth-child(3){
    @include greenArea;
    position: absolute;
    width: 225px;
    height: 225px;
    margin-left: calc(100% - 170px);
    margin-top: -140px;
    background-color: transparent;
    border: 1px solid #87b4bb;
    border-radius: 35px;
    z-index: 1;
}
.greenAreaInscricaoOut:nth-child(4){
    @include greenArea;
    position: absolute;
    width: 225px;
    height: 225px;
    margin-left: calc(100% - 170px);
    margin-top: -90px;
    background-color: transparent;
    border: 1px solid #87b4bb;
    
    border-radius: 35px;
    z-index: 1;
}
.cadastro .greenAreaInscricaoOut{
    @include greenArea;
    position: absolute;
    width: 100px;
    height: 100px;
    border:none;
    border-radius: 20px;
    z-index: 1;
}
.cadastro .greenAreaInscricaoOut{
    @include greenArea;
    position: absolute;
    width: 100px;
    height: 100px;
    border:none;
    border-radius: 20px;
    z-index: 1;
}
footer .greenAreaInscricaoOut:nth-child(1){
    @include greenArea;
    position: absolute;
    width: 225px;
    height: 225px;
    bottom: -255px;
    left: -275px;
    background-color: transparent;
    border: 1px solid #87b4bb;
    border-radius: 35px;
    z-index: 1;
}
footer .greenAreaInscricaoOut:nth-child(2){
    @include greenArea;
    position: absolute;
    width: 225px;
    height: 225px;
    bottom: -330px;
    left: -325px;
    background-color: transparent;
    border: 1px solid #87b4bb;
    border-radius: 35px;
    z-index: 1;
}

//form cadastro
.cadastro{
    position: relative;
    max-width:700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    padding: 140px 10% 5% 10%;
    background: $black;
    border-radius: 55px;
    z-index: 2;
    .passos{
        .greenAreaInscricao:nth-child(1){
            #passo1{
                transform:rotate(-45deg);
                font-weight: bold;
                color: $black;
            }    
        }
        .greenAreaInscricao:nth-child(3){
            background-color:transparent;
            border: 2px solid $bgGreen;
            #passo2{
                transform:rotate(-45deg);
                font-weight: bold;
                color: white;
            }    
        }
        .greenAreaInscricao:nth-child(5){
            background-color:transparent;
            border: 2px solid $bgGreen;
            #passo3{
                transform:rotate(-45deg);
                font-weight: bold;
                color: white;
            }    
        }
        .reticencias{
            content: url("../src/img/reticencias2.png");
            align-self: flex-start;
            margin-top:auto;
            margin-bottom:auto;
        }
    }
    .subtitle{
        color: white;
        font-weight: normal;
    }
    input{
        border-bottom: 1px solid $bgGreen;
        color: white;
    }
    .d-grid{
        margin-left: auto;
        margin-right: auto;
    }
}
footer{
    margin-top: 3rem;
}

//Media Query
@media only screen and (max-width: 576px){
    #nm{
        margin-top:30px; text-align: center;
    }
    .subBusiness1{
        text-align:center;
    }
    #descNm{
        text-align: center;
    }
    .homeText{
        text-align: center;
    }
    .home{
        margin-left:30px;
    }
    .greenAreaHeader{
        transform: rotate(0deg);
        width:100%;
        height: 70px;
        margin-top:0;
        border-radius: 0;
        img{
            display:none;
        }
        .imagem{
            content: url("../src/img/logo4.png");
            position: relative;
            max-width: 65%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .cadastro{
        border-radius: 0;
        padding-bottom: 10%;
        padding-top: 10%;
        margin-top: 0;
    }
    footer{
        margin-top: 0;
        overflow: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .homeImg{
      display: none !important;
    }
    .bgBM{
        background-image: none;
        background-color: $black;
        padding: 20px;
        h2{
            margin-bottom:30px;
        }
    }
    .back2Color{
        background-image:none;
    }
    .back2Color2{
        background-image:none;
    }
    .years{
        padding-bottom: 50px;
    }
    .businessIcon{
        display: none;
    }
    .subBusiness2{
        text-align:center;
    }
    .bgBM2{
        background-image: none;
        background-color: $black;
        padding: 20px;
    }
    .lside{
        padding:20px;
    }
    .rside{
        padding: 20px 20px 40px 20px;
    }
    #money{
        margin-top:30px;
    }
    #investimento{
        padding-top:0px;
    }
    .right-price{
        margin-top: 20px;
    }
    .bgTuq{
        padding: 20px;
    }
    #geoShapesModal{
        display: none;
    }
    #outShapes, footer .greenAreaInscricaoOut:nth-child(1), footer .greenAreaInscricaoOut:nth-last-child(2), .cadastro .greenAreaInscricaoOut{
        display: none;
    }
}